

.adventure-2__background-container {
    background-color: bisque;
    padding: 20px;
}

.adventure-2__grid-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.adventure-2__grid-item {
    max-height: 60vh;
    border-radius: 20px;
    margin: 15px;
}

.adventure-2__grid-item.scroll-box {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
}

.scroller-container {
    flex-grow: 1;
    overflow: auto;
    padding: 10px;
}

@media (max-width: 500px) {
    .adventure-2__grid-container {
        grid-template-columns: 1fr;
    }

}

